@import '../../css/utils';

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1%;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	flex: 1 0 21%;
	margin: 5px;
}
