@import url('https://fonts.googleapis.com/css?family=Prompt');

@import '../../css/_utils';

.app {
	width: 100%;
	background: $white;
	scroll-behavior: auto;
}

.link {
	color: #61dafb;
}

.leftsidebar {
	background: $darkSlateGray;
	min-width: 10%;
	width: 10%;
}
